aiofiles==22.1.0
aiohttp==3.8.3
asyncio==3.4.3
azure-batch==13.0.0
azure-common==1.1.28
azure-core==1.29.4
azure-identity==1.13.0
azure-keyvault==4.2.0
azure-keyvault-certificates==4.7.0
azure-keyvault-keys==4.8.0
azure-keyvault-secrets==4.7.0
azure-storage-blob==12.13.0
azure-storage-queue==12.7.3
joblib==1.2.0
keras==2.14.0
matplotlib==3.6.0
numpy==1.26.1
pandas==1.4.3
scipy==1.11.3
seaborn==0.13.0
scikit-learn
sortedcontainers==2.4.0
statsmodels==0.14.0
tensorflow==2.14.0